@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&display=swap');
body{
  font-family: "Poppins", sans-serif;
}
.welcome-page{
  color: rgb(20, 20, 20);
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-image: url("../img/bg.jpg");
  background-size: cover;
  background-position: center;
}
.btn{
  background-color: green;
  border: 2px solid green;
  color: white;
  transition: all .2s ease;
}
.btn:hover{
  background-color: transparent;
  color: black;
}
@media screen and (max-width: 768px){
  .lottie{
    height: 46vh;
    padding: 0 !important;
  }
  body{text-align: center;}
  h1{font-size: 22px;}
  h3{font-size: 18px;}
  h4{font-size: 16px;}
  h5{font-size: 15px;}
  button{
    font-size: 14px !important;
    padding: 5px !important;
  }
  .welcome-page{
    overflow: visible;
    overflow-x: hidden;
  }
}